.packs{
    width: 8vw;
    height: 30vh;
    margin-right: 2vw;
}

.cards{
    display: inline-block; 
    margin: 10px; 
    text-align: center;
}

.cards img{
    width: 13vw;
    height: 33vh;
}

.displayed_cards{
    width: 13vw;
    height: 33vh;
    margin: 1vh 1vh 0 0;
}

.sezione {
    margin-bottom: 30px;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tutorial{
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.currency{
    height: 3vh;
    width: 0.8vw;
}

.card_pokedollari{
    width: 10vw;
}